html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Typefaces: sans-serif
Text sizes: 1.125rem
Line-heights: 1.5
Colours: #e2e2e2, #0074d9, #fff
Margins: .5rem
Paddings: 1rem, .75em 1em .6em
Image width: 2rem */

body {
  font-size: 1.125rem;
  margin: 0rem;
  padding: 1rem;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

header h1 {

}

header img {
  width: 2rem;
  justify-content: flex-start;
}

header p {
  font-size: 1.125rem;

}

nav ul {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

nav a {

}
