html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* Typefaces: sans-serif
Text sizes: 1.125rem
Line-heights: 1.5
Colours: #e2e2e2, #0074d9, #fff
Margins: .5rem
Paddings: 1rem, .75em 1em .6em
Image width: 2rem */
